<ion-view view-title="Profile">
  <ion-content>
    <div id="profile">
      <div class="row">
        <div class="col">
          <div id = "header">
            <h4 id="name">My Profile</h4>
          </div>
        </div>
        <div class="col">
          <img id="profileThumbnail" src="http://placehold.it/100x100" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="content">
            <h4 class="stats">Points: <span class="unique">{{user.points}}</span></h4>
            <!-- <h4 class="stats">Visited: <span class="unique">{{user.visited.length}}</span></h4> -->
            <h4 class="stats"><span>Favorites: </span> <span ng-repeat='place in user.favorites' ><a href='{{place.name}}'> {{place.name}}</a> |</span><br> </h4>
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
