.item{
  &.item-reddit {
    @include item-active-style($tertiary, $green);
  }
}
.bar {
  &.bar-stable {
    @include bar-style($primary, $bar-stable-border, $secondary);
    &.bar-footer{
      background-image: linear-gradient(180deg, $primary, $bar-stable-border 50%, transparent 50%);
    }
  }
}

.item .item-content.activated {
  &.item-reddit {
    @include item-style($item-reddit-bg, $item-reddit-border, $item-reddit-text);
  }
}

#iconRow{
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.redditIcon{
  height: 50px;
  width: 50px;
}

#hamburgerMenu{
  color: $secondary;
}

.locations * {
  display: inline-block;
  p{
    margin-left: 15px;
  }
  img{
    margin-left: 1vw;
  }
}

.landmarkIcon{
  height: 30px;
  width: 30px;
}

#map{
  width: 100vw;
  height: 50vh;
}
