#profile {
  padding: 5%;
  background-color: $secondary;
}

#profileThumbnail {
  border-radius:100%;
  border: solid 5px grey;
  max-width: 100px;
  margin-bottom: 1em;
  float: right;
}

#name {
  float: left;
}

.content {
  text-align: left;
}

.unique {
  color: $green;
}

.uniqueImg {
  border: solid 5px $green;
}
