// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "public/lib/ionic/scss/ionic";

// import local variables
@import "./variables/variables",

// import everything else
"./style/landing",
"./style/login",
"./style/profile",
"./style/misc",
"./style/landmark";


.button-reddit{
  background-color: $green;
  color: whitesmoke;
}

.button-reddit:active{
  background-color: $green;
  color: $highlight;
}

.button-cool{
  background-color: $highlight;
  color: white;
}

.leftArrow{
  float: right;
}


.visited {
  background-color: $highlight;
}
