$primary: #FFF;
$secondary: #B2B2B2;
$tertiary: #FFF;
$highlight: #F16156;
$cool: #CAE8DC;
$green: #4c653b;

$item-reddit-bg:              $tertiary !default;
$item-reddit-border:          $primary !default;
$item-reddit-text:            $green !default;
$item-reddit-active-bg:       $button-light-active-bg;
$item-reddit-active-border:   $button-light-active-border;
